
@import "../../scss/shared";

.attendee-checks
{
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  @include padding(0, "lg", "xl", "lg");
	  @include overflow;
	  background-color: $color-background;

	  &__retry
	  {
		    @include margin-top("md");
		    &__button-text
		    {
			      @include margin-left("xs");
		    }
	  }

	  &__list
	  {
		    @include margin-top("md");
		    @include padding-bottom("md");
		    width: 100%;
		    @include overflow;
		    background-color: $color-background;
	  }
}
