.DetailCard .MuiCardContent-root
{
	padding: 0 !important;
	width: 100% !important;
	height: 100% !important;
}

.DetailCard
{
	border-radius: 0 !important;
}

.DetailCard-image-container
{
	height: 12vh;
	width: 100%;
}

.DetailCard-image
{
	background-size: cover !important;
	background-repeat: no-repeat !important;
	height: 100%;
}

.DetailCard-title
{
	font-family: HelveticaNeue, sans-serif;
	font-weight: 600;
	font-size: 2.8rem;
	line-height: 5rem;
	text-align: center;
}
