.Header
{
	position: fixed;
	top: 0;
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-evenly;
	height: 5vh;
	width: 100%;
	z-index: 100;
	background-color: #00699f;
	box-sizing: border-box;
}

.Header-title
{
	margin-left: 4vw !important;
	flex: 2;
}

.Header-title a
{
	color: #ffca45;
}

.Header-title a:visited
{
	color: #ffca45;
}

.Header-menu-box
{
	cursor: pointer;
}

.Header-menu
{
	position: absolute;
	top: 5vh;
	right: 0;
	margin: 0;
	width: 65vw;
	height: fit-content;
	padding: 1vh 0 .8vh 0;
	background-color: #00699f;
}

.Header-menu > a
{
	display: block;
	color: #ffca45 !important;
	font: 2.2rem "HelveticaNeue", sans-serif;
	line-height: 6rem;
	text-decoration: none;
	width: 100%;
	padding-left: 4rem;
	box-sizing: border-box;
}

.Header-menu > a:hover
{
	background-color: #454d61;
	transition: all .5s;
}
