.Header
{
	position: fixed;
	top: 0;
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-evenly;
	height: 5vh;
	width: 100%;
	z-index: 100;
	background-color: #00699f;
	box-sizing: border-box;
}

.Header-title
{
	font-family: "HelveticaNeue-Light", sans-serif;
	font-size: 3rem;
	text-transform: uppercase;
	white-space: nowrap;
	margin-left: 4vw;
	flex: 2;
	text-shadow: #ffca45 .2px .2px;
}

.Header-title a
{
	color: #ffca45;
}

.Header-title a:visited
{
	color: #ffca45;
}

.Header-menu-box
{
	cursor: pointer;
}

#Header-burger
{
	margin-right: 4vw;
	cursor: pointer;
}

#Header-burger i
{
	color: #efba35;
	font-size: 4rem;
}

#Header-menu
{
	position: absolute;
	top: 5vh;
	right: 0;
	margin: 0; padding: 0;
	width: 55vw;
	height: fit-content;
	padding: 1vh 0;
	background-color: #00699f;
}

#Header-menu > li, #Header-menu > a
{
	color: #ffca45 !important;
	font: 2.2rem "HelveticaNeue", sans-serif;
	line-height: 6rem;
	text-decoration: none !important;
	padding-left: 8vw;
	list-style: none;
	outline: 0;
}

#Header-menu > li
{
	width: inherit;
}

#Header-menu > li:hover
{
	display: block;
	background-color: #454d61;
	transition: all .5s;
}
