.PortraitCard .MuiCardContent-root
{
	padding: 0 !important;
	width: 100% !important;
	display: flex;
	flex-flow: row;
}

.PortraitCard
{
	height: 14vh;
	max-height: 14vh;
	cursor: pointer;
}

.PortraitCard-image-container
{
	flex: 2;
	max-width: 25vh;
	height: 14vh;
	max-height: 14vh;
}

.PortraitCard-image-container img
{
	height: 100%;
	width: 100%;
}

.PortraitCard-textbox
{
	flex: 3;
	display: flex;
	flex-flow: column;
	justify-content: center;
	padding: 0 2vw 0 2vw;
}

.PortraitCard-title
{
	color: #484848;
	font-family: HelveticaNeue, Impact, sans-serif;
        font-size: 2.8rem;
	line-height: 3.4rem;
	font-weight: 600;
	letter-spacing: -.1rem;
        text-align: center;
}

.PortraitCard-text
{
	color: #000;
	font-family: HelveticaNeue-Light, sans-serif;
	font-size: 2.4rem;
	letter-spacing: -.1rem;
	text-align: center;
}
