html
{
        font-family: HelveticaNeue, Arial, sans-serif;
        font-size: calc( .8vh + (100vw / 60) / 10 );
}

body
{
	height: 100%;
	background-color: #e8e8e8;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code
{
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a
{
        color: inherit;
        text-decoration: none;
}

a:visited
{
        color: inherit;
}

/* Our global styling is living here. */

.Page
{
	padding-top: 5vh;
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	align-items: center;
	height: 100vh;
	box-sizing: border-box;
}

.Card
{
	width: 90%;
	display: flex;
	background-color: #f8f8f8 !important;
}
