
html { font-size: 100%; }

body {
	margin: 0 auto;
	background-color: #492b44;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code { font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; }

a {
        color: inherit;
        text-decoration: none;
}

a:visited { color: inherit; }

		/* Home page styling */

.mainContent {
	height: 100vh;
	width : 100vw;
	min-width: 800px;
	max-width: 1024px;
	background-color: #f4f4f4;
	box-sizing: border-box;
	margin: 0 auto !important;
}

.cards {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-evenly;
	height: 78vh;
	gap: 5vh;
}

@media (max-width: 799px)
{
	.mainContent { min-width: unset; }
}

		/* Styling for image galleries (react-image-gallery) */

.image-gallery-description {
	font-family: serenity,sans-serif !important;
	font-size: 1rem !important;
}

		/* Styling for our media player */

.MyPlayer {
	position: fixed;
	bottom: 0;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	height: 40px;
	width: 100%;
	max-width: 800px;
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	background-color: #f4f4f4;
	box-shadow: 0 0 2px gray;
}

.MyPlayerControls {
	display: flex;
	align-items: center;
}

.MyPlayerControls time {
	font-size: 2vh;
	margin: -4px 10px 0 10px;
	color: #444;
	font-family: novecento-sans, sans-serif !important;
}

.MyPlayerControls input[type=range] {
	-webkit-appearance: none;
	margin: 10px 0;
	width: 100%;
}

.MyPlayerControls input[type=range]:focus {
	outline: none;
}

.MyPlayerControls input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 1px;
	background: #777;
}

.MyPlayerControls input[type=range]::-webkit-slider-thumb {
	margin-top: -7px;
	cursor: grab;
}
		/* Material UI overrides live here */

.MuiPaper-rounded { border-radius: 0 !important; }
.MuiTypography-h6 { white-space: normal !important; }
.MuiCardContent-root { padding: 0 !important; }

#portraitCard .MuiCardContent-root {
	display: flex;
	height: 120px;
}

