html
{
}

body
{
	height: 100%;
	background-color: #e8e8e8;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code
{
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a
{
        color: inherit;
        text-decoration: none;
}

a:visited
{
        color: inherit;
}

		/* Our global styling is living here. */

.Page
{
	padding-top: 5vh;
	box-sizing: border-box;
}

.Album-Desc
{
	font-family: HelveticaNeue-Light;
	font-size: .95rem;
	line-height: 1.2rem;
	color: #383838;
}

		/* Below is selector-based styling; not clear where to put these... */

#headerMenu > a:hover
{
	background-color: #454d61;
	transition: all .2s;
}

		/* Here is the styling for our media player. */

.MyPlayer
{
	position: fixed;
	bottom: 0;
	height: 32px;
	width: 100%;
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	background-color: rgba(255, 255, 255, 0.87);
	box-shadow: 0 0 2px gray;
}

.MyPlayerControls
{
	display: flex;
	align-items: center;
}

.MyPlayerControls time
{
	font-family: HelveticaNeue;
	font-size: 1.8vh;
	margin-left: 10px;
	margin-right: 10px;
	color: #444;
}

.MyPlayerControls input[type=range]
{
	-webkit-appearance: none;
	margin: 10px 0;
	width: 100%;
}

.MyPlayerControls input[type=range]:focus
{
	outline: none;
}

.MyPlayerControls input[type=range]::-webkit-slider-runnable-track
{
	width: 100%;
	height: 2px;
	cursor: pointer;
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	background: #bbb;
	border-radius: 25px;
	border: 0px solid #000101;
}

.MyPlayerControls input[type=range]::-moz-range-track
{
	width: 100%;
	height: 2px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	background: #bbb;
	border-radius: 25px;
	border: 0px solid #000101;
}

.MyPlayerControls input[type=range]::-webkit-slider-thumb
{
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	border: 1px solid #888;
	width: 10px;
	height: 24px;
	border-radius: 1px;
	background: #b0b0b0;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -10px;
}

.MyPlayerControls input[type=range]::-moz-range-thumb
{
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	border: 0px solid #000000;
	width: 10px;
	height: 24px;
	border-radius: 1px;
	background: #888;
	cursor: pointer;
}

/*
.MyPlayerControls input[type=range]::-ms-track
{
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 24px 0;
  color: transparent;
}
.MyPlayerControls input[type=range]::-ms-fill-lower {
  background: #ac51b5;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
.MyPlayerControls input[type=range]::-ms-fill-upper {
  background: #ac51b5;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
.MyPlayerControls input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  width: 10px;
  height: 24px;
  border-radius: 4px;
  background: #888;
  cursor: pointer;
}
.MyPlayerControls input[type=range]:focus::-ms-fill-lower {
  background: #ac51b5;
}
.MyPlayerControls input[type=range]:focus::-ms-fill-upper {
  background: #ac51b5;
}
*/

		/* Material UI overrides live here. */

.MuiCardContent-root
{
	padding: 0 !important;
	width: 100% !important;
	height: 100% !important;
}

#portraitCard .MuiCardContent-root
{
	display: flex;
	flex-flow: row;
}
